<nav class="navbar">
        <a class="navItem" href="/">Home</a>
        <a class="navItem" href="/pgForBoys/listings">listings</a>
        <a class="navItem" href="/pgForBoys/aboutUs">About Us</a>
        <a class="navItem" href="/pgForBoys/account">Account</a>
        <a class="navItem" href="/pgForBoys/admin">admin</a>
</nav>