<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand">BoysPg</a>
    <a class="navItem" href="/">Home</a>
    <a class="navItem" href="/pgForBoys/listings">listings</a>
    <a class="navItem" href="/pgForBoys/aboutUs">About Us</a>
    <a class="navItem" href="/pgForBoys/account">Account</a>
    <a class="navItem" href="/pgForBoys/admin">admin</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>